* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

::selection{
  background-color: var(--primary);
}

/* font Recoleta Bold called */

@font-face {
  font-family: "Recoleta Bold";
  src: url(fonts/Recoleta-Bold.eot), url(fonts/Recoleta-Bold.ttf),
    url(fonts/Recoleta-Bold.woff), url(fonts/Recoleta-Bold.woff2);
}

/* End font Recoleta Bold called */

/* font Recoleta Regular called */

@font-face {
  font-family: "Recoleta Regular";
  src: url(fonts/Recoleta-Regular.eot), url(fonts/Recoleta-Regular.ttf),
    url(fonts/Recoleta-Regular.woff), url(fonts/Recoleta-Regular.woff2);
}

/* End font Recoleta Medium called */

/* font Recoleta Medium called */

@font-face {
  font-family: "Recoleta Thin";
  src: url(fonts/Recoleta-Thin.eot), url(fonts/Recoleta-Thin.ttf),
    url(fonts/Recoleta-Thin.woff), url(fonts/Recoleta-Thin.woff2);
}

/* End font Recoleta Thin called */

/* colors and variables */

:root {
  --primary: #5a4042;
  --black: #000000;
  --black-600: #222222;
  --degraded: #5f5f5f;
  --red: #fd213e;
  --gold: #aa5843;
  --border: #e4e4e4;
  --nuance: #7b7b7b;
  --product-bg: #cbb297;
  --secondary: #fa9d4f;
  --secondary-hard: #F47113;
  --violet: #c3b4df;
  --nuanced: #424642;
  --nuanced-light: #A09B96;
  --white: #ffffff;
  --orangered_100: #eee0d2;
  --coffee: #654B4B;
  --skyblue: #c0c2dd;
}

/* End colors and variables */

body {
  font-family: "Recoleta Regular";
}


a {
  text-decoration: none;
  color: inherit;
}

img{
  user-select: none;
}

/* Begin the first section of home page */

.cover {
  width: 100%;
  height: 100%;
}

.first_section {
  background-color: var(--nuanced);
  padding: 30px 40px;
}

/* Begin navigation bar design */

.menu_bar {
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: "Recoleta Bold";
  font-size: 40px;
  font-weight: 900;
}

.burger_menu_icon {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 18px;
  align-self: center;
  justify-content: space-between;
}

.burger_line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--white);
}

.menu_right_el_container {
  display: flex;
  height: 100%;
  align-items: center;
}

.lang_select_icons {
  display: flex;
  font-size: 14px;
  position: relative;
  right: 20px;
}

.fr_lang {
  margin-right: 10px;
}

.en_lang {
  text-decoration: underline;
}

.search_icon_container {
  margin-left: 10px;
  cursor: pointer;
}

.search__icon {
  width: 25px;
}

/* End navigation bar design */

/* Begin right section for user icons*/

.user_section_left_bar {
  position: absolute;
  right: 45px;
  margin-left: 0;
  display: block;
  align-items: center;
  width: 25px;
  height: 80%;
}

.user_content_el {
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
}

.user_icons {
  width: 100%;
  margin: 10px 0;
}

.icon_shift {
  position: absolute;
  left: 12px;
  padding: 3px;
  background-color: var(--red);
  font-size: 10px;
  color: var(--white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

/* End right section for user icons*/

/* Begin Home center block section */

.home_center_section {
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.centerize {
  margin: 0 auto;
}

.large_w {
  width: 100%;
}

.medium_w {
  width: 70%;
}


.categories_section {
  position: relative;
  color: var(--secondary);
  text-align: center;
  font-size: clamp(70px, 100px, 150px);
  line-height: clamp(30px, 2em, 80px);
  font-weight: 300px;
}

.category_img_section {
  width: 32%;
  max-width: 470px;
  margin-top: -130px;
}

.homeAnim{
  position: relative;
}

.category_img {
  width: 100%;
}

.category_description {
  position: relative;
  font-family: "Recoleta Bold";
  margin-top: -230px;
  color: var(--white);
  text-align: center;
  font-size: calc(12px + 8vw);
  z-index: 5;
}

.last_center_section {
  margin-top: -20px;
  display: block;
  color: var(--white);
  text-transform: uppercase;
}

.anecdotes {
  font-size: 11px;
  margin-left: 150px;
}

.anecdotes span {
  margin-left: 30px;
}

.discover_btn {
  width: 100px;
  position: relative;
  left: 85%;
}

.elipsis {
  position: absolute;
  top: -100%;
  left: -25%;
  width: 140%;
}

/* End  Home center block section */

/* Begin Home Bottom section */

.home_bottom__section {
  font-family: "Recoleta Bold";
  color: var(--white);
  position: static;
  margin: 100px 0 auto;
  top: 120px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bottom_left_section {
  font-size: 14px;
}

.bottom_left_section span {
  font-family: "Recoleta Thin";
}

.scroll_btn {
  display: block;
  position: relative;
  top: -40px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  display: block;
  text-align: center;
  justify-content: center;
}

img.arrow_down {
  width: 26px;
  margin-top: 10px;
}

.bottom_right_section {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-align: right;
}

/* End Home Bottom section */

/* End of the first section of home page */


/* Begin of the dannish section page */

.danish__section {
  width: 100vw;
  padding: 150px 0;
  background-color: var(--orangered_100);
}

.danish__section_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding-right: 20px;
}

.danish_section_left {
  margin-left: 0;
  display: flex;
}

.wow{
  position: relative;
}

.left_image_container {
  width: 300px;
}

.left_image {
  width: 130%;
}

.danish_text {
  position: relative;
  z-index: 6;
  left: -8%;
  top: 5%;
  font-family: "Recoleta Bold";
}

.great_title_text {
  text-indent: 40px;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 13px;
  color: var(--coffee);
}

.great_title_text span,
.low_text {
  position: relative;
  left: 36%;
}

.low_text {
  margin-top: 20px;
  color: var(--nuanced-light);
  font-family: "poppins", sans-serif;
  font-size: 30px;
}

.low_text span {
  font-family: "Recoleta Bold";
  color: var(--secondary-hard);
}

.danish_center_img {
  display: block;
  position: absolute;
  left: 48%;
  width: fit-content;
}

.top_img_container,
.bottom_img_container {
  width: 173px;
}

.top_img,
.bottom_img {
  width: 100%;
}

.top_img_container {
  position: relative;
  top: -90px;
  left: 20px;
}

.bottom_img_container {
  position: relative;
  top: 120px;
  left: -160px;
}

.danish_right_img {
  float: right;
  display: flex;
  width: fit-content;
  position: relative;
}

.right_img_text {
  font-family: "Recoleta Regular";
  position: absolute;
  z-index: 10;
  bottom: 80px;
  left: -20%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.right_img_one_container {
  width: 264px;
  position: absolute;
  right: 0;
}

.right_img_two_container {
  position: relative;
  width: 172px;
  z-index: 3;
}

.right_img_three_container {
  position: relative;
  width: 161px;
  z-index: 6;
}

.img_one,
.img_two,
.img_three {
  width: 100%;
}

.img_two {
  position: absolute;
  top: 90px;
}

.img_three {
  position: absolute;
  bottom: 20px;
  left: -60px;
}

/* End of the dannish section  page */

/* Begin trend section  */


.trend_section {
  display: block;
  padding: 120px 90px;
}

.trend__title_container {
  width: 100%;
  height: fit-content;
  position: relative;
}

.trend_title {
  display: block;
  position: relative;
  font-size: 90px;
  width: 100%;
  height: fit-content;
  line-height: 95px;
}

.trend_title p {
  display: block;
  text-align: right;
  position: relative;
}

.trend_title p::before {
  position: absolute;
  content: '';
  top: 50%;
  left: -0%;
  width: 20%;
  height: 5px;
  background-color: var(--black);
}

.light_focus_title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--degraded);
  font-size: 30px;
  position: absolute;
  top: 18%;
  right: 0%;
}

.article_type_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 40px 0 20px;
}

.article_type_container li {
  position: relative;
  list-style: none;
  padding: 0 15px;
}

.article_type_container li:not(:first-child):before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  background-color: var(--black);
}

.type_selected {
  color: var(--secondary-hard);
}

.trend_article_container {
  display: grid;
  margin-top: 40px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  grid-template-columns: repeat(4, 300px);
}

.item_img {
  width: 100%;
}

.item {
  padding: 20px;
  text-align: center;
  border: .5px solid var(--nuanced-light);
}

.item:not(:first-child){
  border-left: 0;
}

.less {
  width: 101%;
  display: block;
  position: relative;
}

.item_img_less {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.item_img1{
  width: 100%;
  height: 100%;
}

.item_img_container {
  width: 100%;
}

.item_description {
  display: grid;
}

.article_title {
  color: var(--degraded);
  font-size: 19px;
  margin: 10px 0 10px;
}

.price {
  font-size: 13px;
  margin: 0px 0 10px;
  font-weight: bold;
}

.buy_btn {
  position: relative;
  padding: 15px 20px;
  background-color: var(--black-600);
  color: var(--white);
  text-transform: uppercase;
}

.btn_less {
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  margin: 0 auto;
  width: 70%;
  bottom: 10%;
  position: absolute;
  z-index: 2;
}

.item_name {
  color: var(--white);
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 20px;
}

.trend_section_services {
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin-top: 80px;
}

.trend_service {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  gap: 7px;
  border: .5px solid var(--nuanced-light);
}

.trend_service:not(:first-child){
  border-left: 0;
}

.trend_service img {
  width: 20px;
  height: 20px;
}

/* End trend section  */


/* Mood section section */

.fashion_section_mood{
  display: flex;
  justify-content: stretch;
  width: 100%;
  gap: 2%;
  padding: 120px 30px 100px 30px;
  background-color: var(--skyblue);
}

.mood_left_section{
  display: block;
  width: 30%;
}

.left_img_container{
  width: 100%;
}

.mood_img{
  width: 100%;
}

.left_mood_text{
  width: 50%;
  font-size: 14px;
  float: right;
  margin-top: 20px;
  color: var(--nuanced);
  font-family: "Poppins",sans-serif;
}

.mood_center_section{
  width: 40%;
  display: block;
  margin-top: 40px;
}

.great_middle_title{
  font-size: 45px;
  width: 100%;
}

.mood_middle_img{
  display: flex;
  gap: 30px;
  width: 65%;
  float: right;
  margin: 80px 50px 0 0;
}

.mood_right_section{
  margin-top: 110px;
  width: 30%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
}

.left_img_container{
  width: 100%;
}

.double_img_container{
  display: flex;
  gap: 30px;
  width: 70%;
}

.double_img_el{
  width: 40%;
}

.double_img_el2{
  width: 65%;
}

.mood_anec{
  width: 38%;
  font-size: 13px;
  color: var(--nuanced);
  font-family: "Poppins",sans-serif;
}

/* End section section */